<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Investimentos</title>

    <script type="module" src="../controller/Listagem.js" defer></script>
    <link rel="stylesheet" href="../public/style/listar.css" />
  </head>
  <body>
    <h1>Investimentos Cadastrados</h1>

    <table id="tableInvestment">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Valor</th>
          <th>Data</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>

      </tbody>
    </table>

    <a href="telaCadastro.html"><button id="btnBack">Voltar</button></a>

    <!-- Formulário de edição, que ficará oculto inicialmente -->
    <div id="editForm" style="display: none">
      <h3>Editar Investimento</h3>
      <form id="formEditInvestment">
        <input type="hidden" id="editIdInvestment" />
        <div>
          <label for="editNameInvestment">Nome do Investimento:</label>
          <input type="text" id="editNameInvestment" />
        </div>
        <div>
          <label for="editTypeInvestment">Tipo do Investimento:</label>
          <input type="text" id="editTypeInvestment" />
        </div>
        <div>
          <label for="editValueInvestment">Valor Investido:</label>
          <input type="text" id="editValueInvestment" />
        </div>
        <div>
          <label for="editDateInvestment">Data do Investimento:</label>
          <input type="month" id="editDateInvestment" />
        </div>
        <button type="submit" id="btnSave">Salvar Alterações</button>
      </form>
    </div>
  </body>
</html>
